[Desktop Entry]
Name=LuminOS Terminal
Comment=Open a terminal
Exec=/usr/local/bin/lumin-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
